*{
   margin:0;
   padding:0;
}
body{
   font-family:"Lucida Grande", "Lucida Sans Unicode", sans-serif
}
#form{
   margin:0 auto;
   width:400px;
   padding-top:5%  
}

#form div{
   border:solid 2px #b7ddf2;
   background:#ebf4fb;
   padding:14px;
   position:relative;
}

#form p{
   font-size:0.9em;
   color:#666;
   margin-bottom:20px;
   border-bottom:solid 1px #b7ddf2;
   padding-bottom:10px
}
#form label{
   display:block;
   font-weight:bold;
   text-align:left;
   width:120px;
   float:left;
   font-size:0.8em;
   position:relative
}
#form span{
   color:#666;
   display:block;
   font-size:0.9em;
   font-weight:normal;
   text-align:right;
   width:250px
}
#form input{

   font-size:0.8em;
   padding:4px 2px;
   border:solid 1px #aacfe4;
   width:71%;
   margin:2px 0 20px 14%;
   position:relative
}
#form button{
   clear:both;
   margin-left:130px;
   width:100px;
   height:31px;
   background:#666;
   text-align:center;
   line-height:31px;
   color:#fff;
   font-size:0.7em;
   font-weight:bold;
   border:none;
   margin:2px 3% 10px 34%;
   cursor: pointer;
}

